.cardEspecial{
    background-color: #6743a5;
    border-color:#6743a5;
    color: white;
    
    font-size: 150%;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

