@media (min-width: 0px) and (max-width: 425px){
    .barra_nave{
        background-color: rgb(255 194 69);
        display: flex;
        flex-direction: column;
        max-width: 100%;
        
        align-items: center;
       
    }
    
    .logo{
        height: 40%;
        
    }
    
    .buscador{
        border-radius: 0%;    
    }
    .lupa {
        width: 10px;
        height: 10px;
    }
    .buscador_grande {
        display: flex;
        align-items: center;
        background-color: #f8f9fa; 
        border-radius: 20px; 
        padding: 10px 15px; 
        width: 300px; 
        height: 20PX;
    }
    
    .buscador_grande input {
        border: none; 
        outline: none; 
        background: none; 
        font-size: 16px; 
        color: #6c757d;
    }
    
    .empezar{
        border-radius: 20px;
        background-color: rgb(0 159 135);
        color: white;
        padding: 10px 2%;
        font-size: 120%;
        ;
    }
    .empezar:hover{
        background-color: rgb(0, 159, 106);
        color: white;
    }
    
    
    .imagenes_opciones{
        background-color: transparent;
    }
    
    .supermercado{
        background-color: transparent; /* Fondo transparente */
        
    }
    
    .botones_opciones{
        background-color: transparent;  
        border: none;
        border-radius: 22px;
    }
    
    .botones_opciones:hover{
        background-color:  rgb(255 194 69);
        color: white;
        border-radius: 22px;
        transform: translateY(-10px);
    }
    
    .opciones{
        display: flex;
        justify-content: center;
        
        gap: 5%;
    }
    
    .foto_filtros{
        height: 22px;
        width: 22px;
        background-color: #fff3da;
        border-radius: 22px;
    }
    
    .tamaño_letra_1{
        font-size: 12px;
    }
    .tamaño_letra_2{
        font-size: 14px;
    }
    .css_filtros{
        align-items: center;
    }
    .botones_laterales_edit{
        background-color: transparent;
        display: flex;
        justify-content: space-between;
        border-top: none;
        border-left: none;
        border-right: none;
        border-bottom: gray 1px solid;
        width: 200px;
        align-items: center-;
    }
    .botones_laterales_edit:hover{
        background-color:  rgb(255 194 69);
        display: flex;
        justify-content: space-between;
        border-top: none;
        border-left: none;
        border-right: none;
        border-bottom: gray 1px solid;
        width: 200px;
        align-items: center;
    }
    .imagenes_cards{
        border-radius: 22px;
        max-width: 99%;
    }
    .card{
        width: 33%;
        
    }
    .cards{
        display: flex;
    }
    .pedidos{
        display: flex;
        justify-content: center;
        gap: 15%;
        max-width: 80%;
        margin-left: 10%;
        border-top:1px  black solid ;
    }
    .icon_cards{
        max-width: 8%;
        padding-left: 15px;
    }
    
    .card{
    
        border-radius: 10px;
        overflow: hidden;
        transition: transform 0.5s ease;
        box-shadow: 0 1px 4px rgba(66, 66, 66, 0.377);
    }
    
    .card:hover{
        cursor: pointer;
    }
    
    .card:hover{
        transform: translateY(-10px);
    }
}