.barra_nave{
    background-color: rgb(255 194 69);
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    height: 100px;
    align-items: center;
    gap: 27%;
}

.logo{
    max-width: 8%;
    padding-left: 3%;
}

.buscador{
    border-radius: 0%;    
}
.lupa {
    width: 10px;
    height: 10px;
}
.buscador_grande {
    display: flex;
    align-items: center;
    background-color: #f8f9fa; 
    border-radius: 20px; 
    padding: 10px 15px; 
    width: 300px; 
    height: 20PX;
}

.buscador_grande input {
    border: none; 
    outline: none; 
    background: none; 
    font-size: 16px; 
    color: #6c757d;
}

.empezar{
    border-radius: 20px;
    background-color: rgb(0 159 135);
    color: white;
    padding: 10px 2%;
    font-size: 120%;
    ;
}
.empezar:hover{
    background-color: rgb(0, 159, 106);
    color: white;
}


.imagenes_opciones{
    background-color: transparent;
}

.supermercado{
    background-color: transparent; /* Fondo transparente */
    
}

.botones_opciones{
    background-color: transparent;
    border: none;
}

.botones_opciones:hover{
    background-color:  rgb(255 194 69);
    color: white;
}

.opciones{
    display: flex;
    justify-content: center;
    border-bottom:1px  black solid ;
}

.foto_filtros{
    height: 22px;
    width: 22px;
}

.tamaño_letra_1{
    font-size: 12px;
}
.tamaño_letra_2{
    font-size: 14px;
}
.css_filtros{
    align-items: center;
}